.custom-emoji {
  font-family: Segoe UI Emoji;
  font-size: 1.5em;
}
.logo-span-up {
  color: #447efd;
  background: white;
  border-radius: 4px;
  margin-left: 5px;
  padding: 3px;
}
.logo-h2-file {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: x-large;
  font-weight: 600;
  margin-left: 10px;
}
.navlink-header {
  display: inline-flex;
  margin-left: auto;
  outline: none;
}
.header-navlink:focus {
  text-decoration: none;
}
.header-navlink-h2 {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: medium;
  margin-bottom: 0;
  padding: 0 0.65rem;
  text-decoration: none !important;
}
.header-navlink {
  margin-right: 3rem;
}

.removeActiceclass {
  text-decoration: none;
}

.removeActiceclass:focus-within {
  text-decoration: none;
}

.sidebarfonts {
  color: white;
  margin-right: 0 !important;
  font-size: x-large !important;
}

.Content-height {
  height: calc(100vh - 79px);
}

.sidebarprofile {
  width: 64px;
  height: 64px;
}
.sidebarusername {
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 430px) {
  .sidebar-mediaquerys {
    width: 40px;
  }
}
.Custom-style-no-upload {
  color: grey !important;
  font-weight: 400;
  font-size: initial;
}
