.custom-emoji {
  font-family: Segoe UI Emoji;
  font-size: 1.5em;
}
.logo-span-up {
  color: #447efd;
  background: white;
  border-radius: 4px;
  margin-left: 5px;
  padding: 3px;
}
.logo-h2-file {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: x-large;
  font-weight: 600;
  margin-left: 10px;
}
.navlink-header {
  display: inline-flex;
  margin-left: auto;
  outline: none;
}
.header-navlink:focus {
  text-decoration: none;
}
.header-navlink-h2 {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: large;
  margin-bottom: 0;
  padding: 0 1rem;
  text-decoration: none !important;
}
.header-navlink {
  margin-right: 3rem;
}

.removeActiceclass {
  text-decoration: none;
}

.removeActiceclass:focus-within {
  text-decoration: none;
}
/* ----------------------------------------------------------------------------------------------------------------------------------- */
